<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tutorial">
    <!-- dalam project android sangat wajib kita miliki Manifest file, sebagai konfigurasi untuk aplikasi kita yang di baca oleh aplikasi android nya -->
    <!-- tag manifest ada package yang di tentukan dari app kita sesuai dengan package code kita di directory /scr/main/java/package-->

    <!-- menambahkan fitur dalam konfigurasi -->
    <!-- Controlling Application Availability 'declarative', hal ini menyebabkan kondisi wajib jika fitur disimpan dalam konfigurasi-->
    <uses-feature android:name="android.hardware.fingerprint" android:required="true" />

    <!-- untuk mengakses resource dengan cara '@string/name' dia akan mengases file.xml yang ada di folder /res/.. -->
    <!-- tag android:name=".MyApplication" untuk registerasikan class Activity_Application yang telah dibuat -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarAndroidDasar"
        tools:targetApi="31">

        <!-- activity -->
        <!-- android:name nama classnya -->
        <!-- jadi kita tidak harus menulis secara ekplisit hanya titik.namaClass karna kita telah menambah packagenya di tag <manifest> ==> .MainActivity -->

        <!-- intent-filter ini untuk memberi tahu ini itu action nya adalah MAIN= jadi angapanya ini adalah main function nyaa yang nantinya .MainActivity yang akan di jalankan-->
        <!-- LAUNCHER= jadi activity running ini akan di buka / luncurkan -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>